.App {
  text-align: center;
  margin: 0 auto;
  
 background-image: url('http://dl4.glitter-graphics.net/pub/3195/3195434qnvhr865lw.gif');
  background-attachment: fixed;
  background-repeat: repeat;
  

  border-radius: 20px;
  height: 500px;
  width: 500px;

}


ul {
  list-style: none;
}
 li{
   margin: 12px 0;
 }
 input{
   padding: 4x;
   margin-right: 8px;
 }