.App {
  text-align: center;
  margin-top: 100px;
  background-color: white;
  margin-left: 300px;
border-radius: 20px;
  height: 600px;
  width: 600px;
  padding:10px;
 border-image-source: url("strawberry.png") ;
border-image-slice:80 ;
border:70px solid ;
border-image-repeat: round;
}


ul {
  list-style: none;
}
 li{
   margin: 12px 0;
 }
 input{
   padding: 4x;
   margin-right: 8px;
 }