.App {
  text-align: center;
  margin-top: 100px;
  
 border-image: url("border.png") 5 fill round;
  background-color: pink;

   border-radius: 20px;
  height: 700px;
  width: 700px;

}


ul {
  list-style: none;
}
 li{
   margin: 12px 0;
 }
 input{
   padding: 4x;
   margin-right: 8px;
 }